# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Data 
data/
dataset/
*.mp4
*.avi
*.mov
*.csv

# YOLO training outputs
runs/
*.pt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db